@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poiret+One&display=swap');
$colors : (accent-pink: #c84771, accent-yellow: #ffdf57, background: #782b44, main-white: rgb(232, 226, 228));

* {
  box-sizing: border-box;
  font-family: 'Poiret One', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: map-get($colors, background);
  background: linear-gradient(0deg, map-get($colors, background), map-get($colors, accent-pink));
}

.background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('../dist/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 20% left 0;
  z-index: -1;
  filter: blur(4px) grayscale(30%);
}

header {
  width: 100%;
  padding: 0 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo {
    background-image: url('../dist/images/logo-big.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin: 32px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(34, 34, 34, 0.5);
  color: #cccccc;

  a {
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .social-links {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    img {
      width: 1rem;
    }
  }
}

// Buttons
#new-game_button, 
#pvp-new-game_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  color: #eeeeee;
  background-color: #d97e9c;
  border: 4px double #555555;

  &:hover {
    background-color: map-get($colors, accent-pink);
  }

  &:active {
    transform: translateY(2px);
  }

  img {
    height: 24px;
  }
}

#start-game_button {
  transition: background-color 500ms ease-out;
  display: none;

  &:active {
    filter: brightness(85%);
    transform: translateY(2px);
  }
}

// Page components
.info-container {
  height: fit-content;
  background-color: map-get($colors, main-white);
  display: flex;
  padding: 16px;
  margin: 0 32px;
  gap: 32px;
  border: 10px double map-get($colors, accent-pink);
  border-radius: 7px;

  button {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
  }
}

.game-mode-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-right: 18px;
}

.battle-info {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.action-info {
  font-size: 1.5rem;
  font-weight: 700;
}

.battlefield {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#player1-container {
  display: flex;
  gap: 8px;
}

#player2-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.player-info {
  background-color: map-get($colors, main-white);
  width: 230px;
  height: fit-content;
  padding: 16px;
  border-radius: 7px;
  border: 10px double map-get($colors, accent-pink);
}

#player1-name,
#player2-name {
  font-family: 'Cookie', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

#player2-name {
  text-align: end;
}

#player1-ships, 
#player2-ships {
  display: none;
  font-family: 'Open Sans', sans-serif;

  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    font-family: 'Open Sans', sans-serif;
    margin: 12px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid map-get($colors, background);
  }


}

.ship-placement {
  display: flex;
  justify-content: space-between;
}

.orientation-buttons {
  display: flex;
  gap: 8px;

  img {
    height: 1rem;
    cursor: pointer;
  }
}

#player1-board, 
#player2-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  .empty-cell {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.445);
    background-color: rgba(232, 226, 228, 0.15); 
    border-radius: 4px;
  }
}

[class^="cell"]  {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.323);
  background-color: rgba(232, 226, 228, 0.75);
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 223, 87, 0.9);
    cursor: pointer;
  }


}

.placing-ship-cell {
  background-color: rgba(255, 223, 87, 0.9);
}

.placing-error {
  background-color: rgba(255, 0, 0, 0.423);

  &:hover {
    background-color: rgba(255, 0, 0, 0.423);
  }
}

// Modals
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(211, 211, 211, 0.564);
}

.game-over_modal {
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 7px double map-get($colors, accent-pink);
  border-radius: 4px;
  background-color: #eeeeee;
  z-index: 3;
  padding: 3rem;

  img {
    width: 100px;
  }

  button {
    font-family: 'Open Sans', sans-serif;
  }
}

.pass-turn_modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 350px;
  height: 200px;
  font-size: 2rem;
  background-color: #eeeeee;
  border: 4px solid map-get($colors, accent-pink);
  z-index: 3;

  p {
    margin: 0;
  }

  button {
    background-color: map-get($colors, accent-pink);
    color: #eeeeee;
    padding: 8px;
    font-size: 1.5rem;
  }
}